.venv/
.env
.env.*
!.env.example
*.egg-info/
build/
dist/
.verify-helper/
.competitive-verifier/
**/__pycache__/
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/stubs/
.vscode/stubs/*
!.vscode/stubs/__pypy__.pyi
**/log/
tmp/
result.json
verify_files.json
